@page
@model PriceCompareScraper.UI.Pages.ProductModel
@{
    ViewData["Title"] = @Model.Title;
}

<div class="text-center">
    <h1>@Model.Title</h1>
    <div class="product-details">
        <div class="img-wrap">
            <img class="product-img" src="/@Model.Image" alt="@Model.Title" />
        </div>
        <div class="price-table">
            <h2>Prices</h2>
            <table>
                <thead>
                    <tr>
                        <th>Site</th>
                        <th>Price</th>
                        @* <th class="invisible-header"></th>  *@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var site in Model.Sites)
                    {
                        <tr>
                            <td>
                                <a href="@site.FinalUrl">
                                    @site.Name
                                </a>
                            </td>
                            <td>@site.Price</td>
                            @* <td class="invisible-btn" href="#">Refresh</td> *@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-4">
        <a class="btn btn-secondary" href="/?Index=@Model.Index">◀ Back to Gallery</a>
    </div>
</div>